<div class="crud-head">
	<div class="title">Banner Area:
		{{info.title}}</div>
</div>
<div class="crud-body">
	<div class="new-form show">
		<form enctype="multipart/form-data" action="/api/v1/banner/{{info.slug}}" method="post" api-form="/api/v1/banner/{{info.slug}}">
			<div class="frm-title">
				<h2></h2>
				<button type="button" class="back">&times;</button>
			</div>
			<div class="input-group">
				<label for="banner">Click to change
					<img src="{{banner.image??"/images/banner.jpg"}}" input="banner">
				</label>
				<input type="file" name="banner" id="banner" accept="image/jpeg,image/png,image/webp">
			</div>
			<div class="input-group">
				<label for="title">Title</label>
				<input value="{{banner.title}}" name="title" required pattern="^[a-zA-Z 0-9]+$" type="text">
			</div>
			<div class="input-group">
				<label for="ctatext">CTA Text</label>
				<input value="{{banner.cta.text}}" name="ctatext" required pattern="^[a-zA-Z 0-9\,\-]+$" type="text">
			</div>
			<div class="input-group">
				<label for="ctalink">CTA Link</label>
				<input value="{{banner.cta.link}}" name="ctalink" required type="url">
			</div>
			<div class="input-group">
				<label for="frmtitle">Form Title</label>
				<textarea name="frmtitle" id="frmtitle">{{banner.frmtitle}}</textarea>
			</div>
			<div class="input-group flx-right">
				<button type="submit">Submit</button>
			</div>
		</form>
	</div>
</div>
