<div class="about" id="about">
	<h2>{{about.title}}</h2>
	<div class="content">
		<div class="image">
			<picture>
				<source type="image/jpeg" src="{{about.image}}"/><img src="{{about.image}}" alt="{{about.title}}"/>
			</picture>
		</div>
		<div class="message">{{about.description}}
		</div>
	</div>
</div>
